.books-filter {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.books-empty {
    font-size: 24px;
    font-weight: 800;
}
.book-title {
    font-size: 18px;
    white-space: break-spaces;
}
.book-price {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: rgb(51, 51, 51);
    margin-right: 2px;
}
.book-campaign {
    font-size: 14px;
    line-height: 1.2;
}
.correction {
    font-weight: 400;
    text-decoration: line-through;
}
.red_ {
    color: rgb(246, 56, 74);
}
